.navbar-brand{
  color: black ;
  font-weight: bolder;
}
.navbar {
  background-color: rgb(236, 236, 236);
  height: 60px;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
    }
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

  h2 {
    font-size: 35px !important;

    .lead {
      font-family: 'Helvetica Neue' !important;
      font-size: 30px !important;
      }

    }
  }

.plan {
  border: 2px solid #c1bfbf;
  border-radius: 5px;
  margin-right: 5px;
  }

.price {
  font-weight: 700;
  size: 120%;
  }

.sign-up {
  margin-top: 5px;
  }

.extra {
  color: #5cb85c;
  }

  /* Define custom classes */
  .footer {
    background-color: #212121;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: white;
    font-size: 18px;
  }

.heart {
  font-size: 1.5rem; /* Adjust font size as needed */
}

body {
  padding-top: 20px;
  padding-bottom: 120px; /* Adjust the value to match the height of your footer */
}

// For Task done chec-box
.border {
  border: 5px solid #ced4da !important; 
  border-radius: 0.25rem; 
}
