<h1>New artifact</h1>

<%= render 'form', project: @project, artifact: @artifact %>

<br>

<div>
  <%= link_to "Back to artifacts", project_artifacts_path(@project), class: 'btn btn-secondary' %>
</div>
