<footer class="footer">
  <div class="container text-center">
    Made with <span class="heart">❤️</span> by <%= link_to "Ram Gopal", "https://ramgopal.dev/", class: "text-white", target: "_blank" %>
  </div>
</footer>
