<h1>Editing account</h1>

<%= render "form", account: @account %>

<br>

<div>
  <%= link_to "Show this account", @account, class: "btn btn-primary" %>
  <%= link_to "Back to accounts", accounts_path, class: "btn btn-secondary ms-3" %>
</div>
